# Виртуальные окружения
venv/
env/

# Python кэш-файлы
__pycache__/
*.py[cod]

# Файлы базы данных SQLite (если используешь)
db.sqlite3

# Логи
*.log

# Статические файлы и медиа (если они сгенерированы)
staticfiles/
media/

# IDE и системные файлы
.vscode/
.idea/
.DS_Store

# Файлы настройки среды (если есть)
.env