{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{% static 'real_estate/css/styles.css' %}">
</head>
<body>

    <div class="ui large menu fade-in">
        <a href="/main/"><div class="header item logo"><image src="{% static 'real_estate/svg/logo.svg' %}"></image></div></a>
        <a class="item" href="{% url 'favorites_page' %}">Favorites</a>
        <a class="item" href="{% url 'companies_page' %}">Companies</a>

        <div class="right menu">
            <div class="item">
                <form class="ui action input" method="get" action="{% url 'search_page' %}">
                    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q|default_if_none:'' }}">
                    <button class="ui blue button" type="submit">Search</button>
                </form>
                <a href="/admin/"><button class="ui blue button">AdminPanel</button></a>
            </div>
        </div>
    </div>

    <div class="ui container mt-4" id="search-results">
        {% block content %}
        {% endblock %}
    </div>

  

</body>
</html>
