{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{% static 'real_estate/css/styles.css' %}">
</head>
<body>

    <div class="ui large menu fade-in">
        <div class="header item logo">Real Estate</div>
        <a class="item" href="{% url 'favorites_page' %}">Favorites</a>
        <a class="item" href="{% url 'companies_page' %}">Companies</a>
        <a class="item" href="{% url 'settings_page' %}">Settings</a>

        <div class="right menu">
            <div class="item">
                <div class="ui action input">
                    <input type="text" id="search-input" placeholder="Search" autocomplete="off">
                    <button class="ui blue button" id="search-button">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container mt-4" id="search-results">
        {% block content %}
        {% endblock %}
    </div>

  

</body>
</html>
