{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="{% static 'real_estate/css/styles.css' %}">

</head>
<body>

    <div class="ui large menu fade-in">
        <a href="/main/"><div class="header center item logo">
                <img src="{% static 'real_estate/svg/logo.svg' %}" alt="Logo">
        </div></a>
        <a class="item" href="{% url 'favorites_page' %}">Избранные</a>
        <a class="item" href="{% url 'companies_page' %}">Компании</a>
        <a class="item" href="{% url 'settings_page' %}">Настройки</a>

        <div class="right menu">
            <div class="item">
                <a href="/admin/"><button class="ui blue button">Админ-Панель</button></a>
            </div>
        </div>
    </div>

    <div class="ui container mt-4" id="search-results">
        {% block content %}{% endblock %}
    </div>

    <!-- Google Translate -->
    <div id="google_translate_element" style="display:none;"></div>

    </body>
</html>
