{% extends 'components/navbar.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'real_estate/css/main_page.css' %}"> 
{% endblock %}
{% block content %}
    <h1>Companies</h1>
    <div>
        <div class="ui three stackable cards">
            {% if companies %}
            {% for i in companies %}
                <div class="card">
                    <div class="image">
                        <img src="{{ i.logo.url }}" alt="{{ i.title }}">
                    </div>
                    <div class="content">
                        <div class="header">{{ i.title }}</div>
                        <div class="description">
                            <p>
                            {{ i.description }}</p>
                        </div>

                    </div>
                    <div class="dop content">
                        <a href="/companies/{{ i.id }}"><button class="ui primary button">View Details</button></a>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <h2> Not Found </h2>
            {% endif %}
        </div>
    </div>
{% endblock %}