{% extends 'components/navbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'real_estate/css/property_details.css' %}">
{% endblock %}

{% block content %}
    <div class="ui container">
        <div class="ui card">
            <div class="image">
                <img src="{{ companies.logo.url }}" alt="{{ companies.title }}">
            </div>
            <div class="content">
                <div class="header">{{ companies.title }}</div>
                <br>
                <div class="description">
                    <p>{{ companies.description }}</p>
                </div>
            </div>
            <div class="extra content">
                <button class="ui primary button" onclick="window.history.back();">Back</button>
            </div>
        </div>
    </div>
{% endblock %}
